
<script>
    function initialize() {
        var mapProp = {
            center:new google.maps.LatLng(31.970152,34.771636),
            zoom:15,
            mapTypeId:google.maps.MapTypeId.ROADMAP
        };
        var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
    }

    if (document.getElementById('googleMaps') != undefined){
        document.getElementById('googleMaps').remove();
    }

    var script = document.createElement("script");
    script.id = 'googleMaps';
    script.src = "http://maps.googleapis.com/maps/api/js?callback=initialize";
    document.body.appendChild(script);


</script>
<div style="padding-top: 25px">
    <div style="display: inline-block; vertical-align: top">
    <address>
        <strong>Mega games</strong><br>
        Elie Wiesel St 2<br>
        Israel, Rishon<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
    </div>
    <div id="googleMap" class="googleMap"></div>
</div>

