<div class="container">

    <section>
        <article class="review-post">
            <header>
                <h2>{{review.title}}</h2>
                <div class="rating">User rating: <b>{{review.score}}</b> | {{review.gameName}}</div>
                <div class="by-line">Review date: <time>{{review.date}}</time></div>
            </header>

            <hr />

            <div class="content">
                <textarea ng-model="review.content" style="width: 400px; height: 100px;" disabled></textarea>
            </div>
        </article>
        <div style="padding-top: 5px">
            <review-edit-directive review="tempReview" realReview="review"></review-edit-directive>
        </div>

        <div style="padding-top: 5px">
            <review-remove-directive review="review"></review-remove-directive>
        </div>
    </section>

    <p>
        <a href="/reviews">Back to List</a>
    </p>

</div>