<div class="view">
    <div class="container">
        <br/>
        <div class="row">
            <div class="col-xs-6">
            <div class="span2 h2">Mega games - Game Reviews</div>
            <div class="span9">This gaming website is part of the College of Management web project.</div>
            <div class="span9"></div>
            <!--<div class="span9">We sell the best and newest games on the globe and we do it with crazy prices!</div>
            <div class="span9">Free shipping to anywhere in the world (Or if you prefer you can just order the cdkey :))</div> -->
            <div class="span9">You are free to look for reviews, or write them yourself.</div>
            </div>
        </div>

        <div class="row">
            <video controls="controls" class="game-video">
                <source src="../../Content/Media/megagames.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
        </div>

        <map-directive/>

    </div>
</div>


