<div class="view">
    <div class="container">
        <br/>
        <div class="row">
            <div class="span2 h2">College of Management contact page</div>
            <div class="span2">קמפוס ראשון לציון</div>
            <div class="span2">אלי ויזל 2, ראשון לציון</div>
        </div>
        <br/>
        <div class="row">
            <div class="span2 h4">Support:</div>
            <div class="span9"><a href="http://support@example.com" target="_blank">Support@example.com</a></div>
        </div>
        <br/>
        <div class="row">
            <div class="span2 h4">Marketing:</div>
            <div class="span9"><a href="http://marketing@example.com" target="_blank">Marketing@example.com</a>
            </div>
        </div>

        <img class="trans" src="/Content/images/megagames.png" alt="..." class="img-rounded" width="500px" style="padding: 15px">

        <div id="chartContainer">FusionCharts XT will load here!</div>

    </div>
</div>